.app__contact {
  padding: 1.25rem 0;
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
}

.app__contact-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

@media (max-width: 992px) {
  .app__contact-container {
    flex-direction: column;
  }
}

.app__contact-container_contacts {
  flex: 1;
}

.app__contact-container_contacts-touch {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-secondary) !important;
}

.app__contact-container_contacts > h2 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

.app__contact-container_contacts > p {
  color: #555;
}

.app__contact-container_contacts-links {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.app__contact-container_contacts-links a {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  text-decoration: underline;
  font-size: 1.5rem;
  color: var(--color-secondary);
}

@media (max-width: 768px) {
  .app__contact-container_contacts-links a {
    font-size: 1.25rem;
  }
}

@media (max-width: 500px) {
  .app__contact-container_contacts-links a {
    font-size: 1rem;
  }
}

.app__contact-container_contacts-links a img {
  width: 64px;
  height: 64px;
}

.app__contact-container_image {
  flex: 1;
  width: 100%;
}

.app__contact-container_image img {
  width: 100%;
}
